[project]
	description = JLT
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/squaw44
[access "refs/for/refs/*"]
	read = group user/squaw44
	push = group user/squaw44
	label-Code-Review = -2..+2 group user/squaw44
	label-Verified = -1..+1 group user/squaw44
	rebase = group user/squaw44
	removeReviewer = group user/squaw44
	submit = group user/squaw44
[access "refs/heads/*"]
	read = group user/squaw44
	create = group user/squaw44
	push = +force group user/squaw44
	pushMerge = group user/squaw44
[access "refs/tags/*"]
	push = group user/squaw44
	push = +force group user/squaw44
